.overlay {
    position: absolute;
    z-index: 2;
}

.sidebar {
    width: 200px;
    height: 600px;
    background-color: #CCCCCC;
    font-size: 24px;
    border-right: 2px solid #010120;
    overflow-y: auto;
}

.sidebar.panel {
    margin-left: 0px;
}

.button.sidebarElement {
    background-color: transparent;
    border-radius: 0px;
    margin: 0px;
}