h2.sidebarTitle {
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0px;
    border-bottom: 2px solid black;
}

.descriptionLink {
    /* None */
}

.descriptionLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.overlay {
    position: absolute;
    z-index: 2;
}

.sidebar {
    width: 200px;
    height: 600px;
    background-color: #CCCCCC;
    font-size: 24px;
    border-right: 2px solid #010120;
    overflow-y: auto;
}

.description {
    font-size: 16px;
    text-align: left;
    padding-top: 10px;
}

.button.sidebarElement {
    background-color: transparent;
    border-radius: 0px;
    margin: 0px;
}

.button.sidebarElement.protein {
    border-bottom: 2px solid black;
}

.selected {
    color: white;
    background-color: #002AA8 !important;
}

.hidden {
    opacity: 0;
}

#sidebarPanel {
    margin-left: 0px;
}

#sidebarSecondPanel {
    margin-left: 202px;
}

#submitJob {
    top: 10px;
    right: 10px;
    font-size: 22px;
    margin: 0px;
}