h2.sidebarTitle {
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.overlay {
    position: absolute;
    z-index: 2;
}

.sidebar {
    width: 200px;
    height: 600px;
    background-color: #CCCCCC;
    font-size: 24px;
    border-right: 2px solid #010120;
    overflow-y: auto;
}

.button.sidebarElement {
    background-color: transparent;
    border-radius: 0px;
    margin: 0px;
}

.selected {
    color: white;
    background-color: #002AA8 !important;
}

.hidden {
    opacity: 0;
}

#sidebarPanel {
    margin-left: 0px;
}

#sidebarSecondPanel {
    margin-left: 202px;
}